:root {
  --mainBrown: #654321;
}

body {
  margin: 4rem;
  font-family: "Oswald", sans-serif !important;
}
.navbar{
  height: 5rem;
  width: 100vw;
}
.navbar-brand {
  width: 4rem;
  height: 4rem;
}

.title {
  text-align: center;
  padding: 2rem;
  color: var(--mainBrown) ;
  font-size: 2.5rem
}
/* PRODUCT COMPONENT */
.products{
  background-color: #000;
  padding: 4rem
}
/* DETAILS COMPONENT */
.details{
  background-color: #000;
  color: #fff;
  margin: none;
}
.sub-info{
  color: var(--mainBrown);
}
