:root {
}

body {
  margin: 4rem;
  font-family: "Oswald", sans-serif !important;
}

.title {
  font-family: "Permanent Marker";
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem;
  color: #6f4e37;
}
.navbar-brand {
  width: 2rem;
}
