:root {
  --mainBrown: #654321;
}
.navbar {
  height: 5rem;
  width: 100vw;
  background: #fff;
}
.navbar-brand {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
h3 {
  text-align: center;
  color: var(--mainBrown);
  font-size: 2.5rem;
}
/* PRODUCT COMPONENT */
.products {
  padding: 4rem;
  height: 100vh;
}
/* DETAILS COMPONENT */
.details {
  background-color: #000;
  color: #fff;
  margin: 10rem;
}
.sub-info {
  color: var(--mainBrown);
}
#modal {
  margin: 10rem;
}
/* CART COMPONENT */
.btn-black {
  border: 0.1rem solid #000 !important;
  font-size: 0.7rem !important;
  border-radius: 0 !important;
}
.btn-black:hover {
  background: #000;
  color: #fff !important;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 319px) and (max-width: 414px) {
  .navbar-brand {
    width: 2.8rem;
    height: 2.8rem;
  }
  h3 {
    font-size: 1.1rem !important;
  }
}
